<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
  <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-light" th:href="@{'/'}"><h2>Spring Security</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{'/'}">Home</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link text-light" th:href="@{'/sign-in'}">Sign In</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form method="post" th:action="@{'/sign-out'}">
            <button class="nav-link text-light" type="submit">Sign Out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.min.js'}"></script>
</html>